.button {
  background-image: linear-gradient(90deg, orange, grey);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  size: small;
}
/* HEADER CSS */
.button:hover {
  background-size: 100% 3px;
  color: goldenrod;
  size: medium;
  /* background-color: blue; */
}

/* EXPERIENCE CSS */
.experience .project .about .footer {
  text-align: left;
  padding-top: 5vh;
  height: 100vh; /*takes up entire screen height */
}

.contact {
  /* padding: auto; */
  height: 100vh; /*takes up entire screen height */
}

.socialButtons {
  color: white;
}

.socialButtons:hover {
  color: goldenrod;
}

.socialmedia {
  padding-top: 10vh;
}

.card {
  padding-top: 2vh;
  border: 2px solid transparent;
  transition: border 0.3s ease-in-out;
}

.card:hover {
  /* background-color: rgba(218, 165, 32, 0.1);
  transition: background-color 0.3s; /* Add a transition effect for the font size */
  /* border-radius: 2%; */
  /* 
  borderImage: `linear-gradient(to right, ${theme.palette.primary.main}, ${theme.palette.secondary.main})`,
      borderImageSlice: 1,
      borderWidth: 2, */

  border-image: linear-gradient(45deg, orange, grey);
  border-image-slice: 1;
  border-width: 2;
}

.header2 {
  text-align: left;
  padding-top: 3vh;
  font-size: 20px;
  font-weight: lighter;
}

/* increase size and transition when hovered on */
.headerList:hover {
  font-size: 25px;
  transition: font-size 0.3s; /* Add a transition effect for the font size */
}
.headerList {
  padding-bottom: 2vh;
  padding-top: 0.2vh;
}

.headerButton {
  border: none;
}

/* Changes the CSS of components when the width of screen is < 1000px */
@media screen and (max-width: 1000px) {
  .experience .project .about .footer {
    height: 50vh; /*takes up entire screen height */
    padding-top: 1vh;
  }
  .footer {
    text-align: center;
  }
  .socialmedia {
    padding-top: 1vh;
  }

  .contact {
    height: 100vh; /*takes up entire screen height */
  }
  .header2 {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .about {
    padding-top: 3vh;
  }
}
