/* HERO CSS */

/* .about {
  text-align: left;
  height: 100vh;
} */

/* FOOTER CSS */

.button {
  background-image: linear-gradient(90deg, orange, grey);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}
/* HEADER CSS */
.button:hover {
  background-size: 100% 3px;
  color: goldenrod;
  /* background-color: blue; */
}

/* .button:active {
  color: goldenrod;
} */

/* PROJECT CSS */
/* .project {
  text-align: left;
  padding-top: 10vh;
  height: 100vh;
} */

/* EXPERIENCE CSS */
.experience .project .about .footer {
  text-align: left;
  padding-top: 5vh;
  height: 100vh; /*takes up entire screen height */
}

/* .footer {
  padding-top: 5vh;
  padding-bottom: -5vh;
  text-align: center;
} */

.contact {
  padding: auto;
  height: 100vh; /*takes up entire screen height */
}

.socialButtons {
  color: white;
}

.socialButtons:hover {
  color: goldenrod;
}

.socialmedia {
  padding-top: 25vh;
}

.card {
  padding-top: 2vh;
}

.card:hover {
  background-color: rgba(218, 165, 32, 0.1);
  border-radius: 2%;
}

.header2 {
  padding-top: 10vh;
  font-size: 20px;
  font-weight: lighter;
}

/* Changes the CSS of components when the width of screen is < 1000px */
@media screen and (max-width: 1000px) {
  .experience .project .about .footer {
    height: 50vh; /*takes up entire screen height */
    padding-top: 1vh;
  }
  .socialmedia {
    padding-top: 1vh;
  }

  .contact {
    height: 50vh; /*takes up entire screen height */
  }
  .header2 {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}
