#root {
  max-width: auto;
  /* margin: 0 auto; */
  padding: 2rem;
  /* border-radius: 5px; */
  /* text-align: center; */
  background-color: #1d1d20;
  color: #d1d1d1;
  background: linear-gradient(120deg, #e87722, #1d1d20, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
  font-family: JetBrain Mono, monospace;
  -webkit-animation: Gradient 9s ease infinite;
  -moz-animation: Gradient 9s ease infinite;
  animation: gradient-animation 9s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 5vw;
  align-items: flex-start;
  justify-content: flex-start;
}

#left {
  flex: 0 0 40%;
  padding-right: 10vw;

  position: sticky;
  align-items: center;
  top: 0;

  /* padding-top: -4vh; */

  /* order: 1; */
}

#left-content {
  /* Set a fixed height for the content inside the left div */
  height: 100vh; /* Adjust the height as needed */

  /* Make the content stay fixed when scrolling */
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Maintain the same width as the left div */
  /* overflow-y: hidden; */
  /* Allow content to scroll when it exceeds the height */
}

#right {
  flex: 1;
  overflow-y: hidden;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 1000px) {
  #wrapper {
    flex-wrap: wrap;
    padding: 5vw;
  }
  #left {
    flex: 0 0 100%; /* Occupy 100% width when the screen is narrow */
    order: 1; /* Change the order to 1 to stack it above the right div */
    position: relative;
    padding-right: 0;
    padding-bottom: 5vh;
  }

  #right {
    flex: 0 0 100%; /* Occupy 100% width when the screen is narrow */
    order: 2;
    overflow-x: hidden; /* Allow content to scroll when it exceeds the height */
  }

  #left-content {
    /* Set a fixed height for the content inside the left div */
    height: 100%; /* You can adjust the height as needed */
    /* Add overflow-y: hidden to hide vertical scrollbar in the left div content */
    overflow-y: hidden; /* Allow content to scroll when it exceeds the height */
  }
}

html {
  scroll-behavior: smooth;
}
